* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Domaine Display Condensed;*/
  /*font-family: Neue Haas Grotesk Display Pro;*/
  font-family: girlroy-regular;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 10vh;
  width: 100vw;
  padding: 4vh 13vh;
  z-index: 10;
  position: fixed;
}
nav div {
  cursor: pointer;
  color: #333;
  font-family: Osake;
  letter-spacing: 2px;
}
nav div:first-child {
  height: 5vh;
  flex-basis: 5%;
}
nav div img {
  height: 100%;
  transform: scale(2);
  border-radius: 50%;
}
nav div:nth-child(2) {
  font-size: 3vh;
  margin-right: 50vw;
}
nav div:nth-child(3) {
  font-size: 2.5vh;
}
nav div:nth-child(4) {
  font-size: 2.5vh;
}
#nav-scroll {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translate(-50%) scale(0);
  height: 8vh;
  width: 10vw;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 0.4px solid white;
  z-index: 10;
}
#nav-scroll i,
span {
  font-size: 3.5vh;
}
#page-1 {
  height: 100vh;
  width: 100vw;
  background: url(assets/bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-1 h1 {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
#page-1 h1 > span {
  letter-spacing: 8px;
  font-size: 5vw;
  color: #111;
  transform: translateY(100px);
  transition: all ease 1s;
  background: url(assets/red\ paint.png);
  background-size: cover;
  background-position: center;
}
#top-btn {
  position: fixed;
  right: 3.5vw;
  bottom: 2vh;
  font-size: 6vh;
  color: crimson;
  text-shadow: 2px 2px 2px black;
  opacity: 0;
  transition: all ease 0.6s;
  cursor: pointer;
}
.menu-opts a {
  display: block;
  height: 6vh;
  font-size: 3vh;
  letter-spacing: 2px;
  font-family: Editorial New;
  text-decoration: none;
}
.menu-opts a:hover {
  text-decoration: underline;
}
#page-2 {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-2 video {
  height: 100%;
  width: 100%;
  position: relative;
}

#page-3 {
  min-height: 124vh;
  width: 100vw;
  padding: 7vh 3vw;
  background-image: url(assets/p4.avif);
  background-size: cover;
  background-position: right;
  color: black;
  font-weight: bold;
}
#p3-container {
  display: flex;
  justify-content: start;
  align-items: start;
  min-height: 100%;
  width: 100%;
  padding: 3rem;
}
#p3-left,
#p3-right {
  flex-basis: 50%;
}
#p3-left h1 {
  color: whitesmoke;
  text-align: left;
  margin-top: 14%;
  font-size: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#p3-right .elem {
  height: fit-content;
  padding: 0.5rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(5px);
  color : #272424;
  transform: translateX(115%);
}
.elem h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
}
.elem p,
.elem p > span {
  margin-top: 0.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.08vw;
  font-weight: 400;
}
.elem-h {
  cursor: pointer;
  border-bottom: 1px solid black;
}
.elem-h #img-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
  scale: 0;
}
#img-hover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
