* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Domaine Display Condensed;*/
  /*font-family: Neue Haas Grotesk Display Pro;*/
  font-family: girlroy-regular;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  position: relative;
}

/*page-1*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 10vh;
  width: 100vw;
  padding: 4vh 13vh;
  z-index: 10;
  position: fixed;
}

nav div {
  cursor: pointer;
  color: grey;
  font-family: Osake;
  letter-spacing: 2px;
}

nav div:first-child {
  height: 5vh;
  flex-basis: 5%;
}

nav div img {
  height: 100%;
  transform: scale(2);
  border-radius: 50%;
}

nav div:nth-child(2) {
  font-size: 3vh;
  margin-right: 50vw;
}

nav div:nth-child(3) {
  font-size: 2.5vh;
}

nav div:nth-child(4) {
  font-size: 2.5vh;
}

#nav-scroll {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translate(-50%) scale(0);
  height: 8vh;
  width: 10vw;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 0.4px solid white;
  z-index: 10;
}

#nav-scroll i,
span {
  font-size: 3.5vh;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url(assets/bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  background-color: black;
}

#page-1 h1 {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#page-1 h1 > span {
  letter-spacing: 8px;
  font-size: 5vw;
  color: #f2f4f3;
  transform: translateY(100px);
  transition: all ease 1s;
  background: url(assets/red\ paint.png);
  background-size: cover;
  background-position: center;
}

#top-btn {
  position: fixed;
  right: 3.5vw;
  bottom: 2vh;
  font-size: 6vh;
  color: grey;
  text-shadow: 2px 2px 2px black;
  opacity: 0;
  transition: all ease 0.6s;
  cursor: pointer;
  z-index: 2;
}

.menu-opts a {
  display: block;
  height: 6vh;
  font-size: 3vh;
  letter-spacing: 2px;
  font-family: Editorial New;
  text-decoration: none;
}

.menu-opts a:hover {
  text-decoration: underline;
}
/*page-2*/
#page-2 {
  height: 100vh;
  width: 100vw;
  padding: 4vw 15vw;
  color: grey;
  background-color: white;
}
#page-2 .para {
  font-size: 2vw;
  margin-bottom: 2vw;
  text-align: center;
  color: grey;
}
#page-2 #p2-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1vw;
  height: 90%;
  width: 98%;
  padding: 2vw 0;
}
#p2left {
  width: 45%;
  overflow: hidden;
  height: 100%;
}
.first-elem,
.last {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-elem > h1 {
  font-size: 2vw;
}
.last > h1 {
  margin-left: 2vw;
}

#p2-container #p2right {
  width: 40%;
  height: 100%;
  border-radius: 1vw;
  overflow: hidden;
}
#p2right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*
.facts {
  background-color: rgb(159, 37, 37);
  height: fit-content;
  width: 30%;
  padding: 2vw;
}
.facts p {
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 2vw;
  color: #999;
}*/
/*#fact-small {
  height: 40%;
  width: 28%;
  padding: 1vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  transform: skew(-8deg);
  border-radius: 1vw;
}
#fact-small div {
  border: 1px solid #999;
  height: 15vh;
  width: 9vw;
  border-radius: 1vh;
  padding: 1vh;
  color: whitesmoke;
  margin-left: 0.5vw;
  font-size: 1.5vw;
  color: #999;

}*/
/*page-3*/
#page-3 {
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 2vw;
}

#p3-container {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
#p3-left {
  height: 95%;
  width: 30vw;
  border-radius: 1vw;
  overflow: hidden;
  border: 2px solid #333;
}
#p3-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease-in-out 1.5s;
}
#p3-left:hover img {
  scale: 1.2;
}

#p3-right {
  height: 90%;
  width: 40vw;
  padding: 4vw;
}
#p3-right div {
  height: 17vh;
  width: 30vw;
}
#p3-right div h1 {
  font-size: 2.1vw;
  font-weight: 100;
  color: #444;
  letter-spacing: -0.001vw;
  padding-left: 3vw;
}
/*pag4-4*/
#p4-heading {
  text-align: center;
  font-family: canopee;
  letter-spacing: 0.5vw;
  color: grey;
  background-color: white;
  padding-top: 8vh;
}
#culture-2 {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#culture-2-container {
  overflow: hidden;
  height: 80%;
  width: 70%;
  border-radius: 1vw;
  padding: 1vw;
  /* box-shadow: 4px 4px 4px 4px rgb(138, 115, 115); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  grid-template-areas:
    "aside sake sake zoo"
    "aside bath kabuki zoo"
    "aside bath anime  zoo";
}

.item {
  border-radius: 1vw;
  color: white;
  font-size: 1.1vw;
  transition: all ease 2s ease-in-out;
  text-transform: uppercase;
  position: relative;
}
.item h1 {
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.item:nth-child(1) {
  grid-area: zoo;
  background: url(assets/panda10.webp);
  background-size: cover;
  background-position: center;
  padding-right: 2rem;
  height: 70vh;
  width: 19vw;
  transform: translateX(-22px);
}
.item:nth-child(1) h1 {
  margin-top: 8vh;
  margin-left: 1vw;
}
.item:nth-child(2) {
  background: url(assets/p6.avif);
  background-size: cover;
  background-position: center;
  grid-area: aside;
  padding: 3rem 1.5rem;
  height: 70vh;
  width: 19vw;
}

.item:nth-child(2) h1 {
  margin-top: 1vw;
}

.item:nth-child(3) {
  grid-area: sake;
  background: url(assets/sake4.avif);
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 4rem;
  height: 25vh;
  width: 29vw;
}

.item:nth-child(4) {
  grid-area: bath;
  background: url(assets/onsen10.jpeg);
  background-size: cover;
  background-position: center;
  height: 43vh;
  width: 16vw;
}

.item:nth-child(4) h1 {
  margin-top: 8vh;
  margin-left: 1vw;
}

.item:nth-child(5) {
  grid-area: kabuki;
  background: url(assets/kabuki2.avif);
  background-size: cover;
  background-position: center;
  height: 23vh;
  width: 13vw;
}

.item:nth-child(5) h1 {
  margin-top: 14vh;
  margin-left: 1.5vw;
  text-shadow: 2px 2px 2px black;
}

.item:nth-child(6) {
  grid-area: anime;
  background: url(assets/anime2.jpeg);
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 13vw;
  transform: translateY(-10px);
  margin-bottom: 2rem;
}
.item:nth-child(6) h1 {
  margin-top: 7vh;
  margin-left: 1.5vw;
  text-shadow: 2px 2px 2px black;
}

/*Page-5 heading*/
#page-4 {
  height: fit-content;
  width: 100vw;
  padding: 2vw;
  background-color: white;
}
#rediscover {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  border-radius: 6% 10%;
}
#rediscover #crsr {
  position: absolute;
  height: 14vh;
  width: 8vw;
  border-radius: 50%;
  background-color: red;
}
#rediscover h1 {
  font-size: 6vw;
  font-family: Gilroy-SemiBold;
  z-index: 2;
  height: fit-content;
  width: 50vw;
  position: relative;
  color: white;
}
.img-div {
  height: 40vh;
  width: 15vw;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(100%);
}

/*page-5-content*/
#page-5 {
  height: 95vh;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
}
#destinations {
  height: 75%;
  width: 40vw;
  border-right: 4px solid #613b16;
}
.elem {
  height: 17vh;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 1vh;
  color: lightcoral;
  margin-bottom: 1vh;
  overflow: hidden;
  padding: 0 2vh;
  padding-top: 2vh;
}
.elem h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.8vw;
  text-align: center;
}
.elem > p {
  font-size: 1vw;
  transform: translateY(100px);
  transition: all ease 1.2s;
  margin-top: 1.5vh;
  text-align: center;
}
.elem:hover p {
  transform: translateY(0);
}
.elem p > span {
  font-size: 1vw;
}
.elem #img-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
  scale: 0;
}
#img-hover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
#page-5 .circle {
  height: 45vh;
  width: 25vw;
  border-radius: 50%;
  overflow: hidden;
  filter: opacity(0.95);
  border-right: 4px solid #613b16;
  filter: drop-shadow(2px 2px 2px black);
}
.circle img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/*
#d-container #video-sec {
  width: 30%;
  height: 70%;
  margin-top: 20vh;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
#video-sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
#video-sec video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}*/

/*carousal-section*/
.c-container {
  height: 60vh;
  padding: 1.1vw;
  padding-left: 0;
}
.slider-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.slider {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.slide-1 {
  display: flex;
  gap: 2vw;
  flex: 1 0 100%;
  scroll-snap-align: start;
  animation: dscrollx 70s linear infinite;
}
@keyframes dscrollx {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-910%);
  }
}
.slider:hover .slide-1 {
  animation-play-state: paused;
}
.slide-img {
  flex-basis: 80%;
  padding: 1vw;
  padding-left: 0;
}
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 1vw 1vw 0;
}
.slide-text {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.09vw;
}
.slide-text .text {
  font-size: 2vw;
  color: rgb(86, 86, 86);
  font-family: "Brygada 1918", serif;
  letter-spacing: -0.01vw;
}
.slide-text .line {
  height: 1px;
  width: 80%;
  margin-top: 1.6vw;
  margin-bottom: 1vw;
  background-color: rgb(214, 210, 210);
}
.slide-text a {
  text-decoration: none;
  color: rgb(159, 154, 154);
  font-family: arial;
  font-size: 1.1vw;
}
.slide-text .place {
  font-size: 2.3rem;
  font-family: popping;
  font-weight: lighter;
  margin-bottom: 0.9rem;
}
.slide-text .info {
  font-size: 1.4rem;
  color: grey;
  font-family: popping;
}
.slide-img {
  position: relative;
}
/*page-6-food-section*/
#food {
  height: 110vh;
  width: 100vw;
  padding: 8vh 6vw;
  background-color: lightcoral;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#food h1 {
  width: 10%;
  height: 100%;
  font-weight: 100;
  font-style: italic;
}
#food span {
  height: 10.4%;
  width: 8vw;
  font-size: 5.1vw;
  color : #22223b;
  display: block;
}
#food span:nth-child(4){
  color : #48494a;
}
#food span:nth-child(4)::after {
  content : "";
  position : absolute;
  top: -10%;
  right: 40%;
  height: 4vh;
  width: 2vw;
  background-color: #B64B5F;
  border-radius: 50% 0 50% 0;
  z-index: -1;
  border: 0.5px solid white;
  transform: rotateX(40deg);
}

#f-middle {
  height: 85%;
  border-radius: 1vh;
  overflow: hidden;
}
#f-middle img{
  height: 100%;
  width: 100%;
}