* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Domaine Display Condensed;*/
  /*font-family: Neue Haas Grotesk Display Pro;*/
  font-family: girlroy-regular;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

/*page-1*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 10vh;
  width: 100vw;
  padding: 4vh 13vh;
  z-index: 10;
  position: fixed;
}

nav div {
  cursor: pointer;
  color: #333;
  font-family: Osake;
  letter-spacing: 2px;
}

nav div:first-child {
  height: 5vh;
  flex-basis: 5%;
}

nav div img {
  height: 100%;
  transform: scale(2);
  border-radius: 50%;
}

nav div:nth-child(2) {
  font-size: 3vh;
  margin-right: 50vw;
}

nav div:nth-child(3) {
  font-size: 2.5vh;
}

nav div:nth-child(4) {
  font-size: 2.5vh;
}

#nav-scroll {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translate(-50%) scale(0);
  height: 8vh;
  width: 10vw;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: 0.4px solid white;
  z-index: 10;
}

#nav-scroll i,
span {
  font-size: 3.5vh;
}

#page-1 {
  height: 100vh;
  width: 100vw;
  background: url(assets/bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-1 h1 {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#page-1 h1 > span {
  letter-spacing: 8px;
  font-size: 5vw;
  color: #111;
  transform: translateY(100px);
  transition: all ease 1s;
  background: url(assets/red\ paint.png);
  background-size: cover;
  background-position: center;
}

#top-btn {
  position: fixed;
  right: 3.5vw;
  bottom: 2vh;
  font-size: 6vh;
  color: crimson;
  text-shadow: 2px 2px 2px black;
  opacity: 0;
  transition: all ease 0.6s;
  cursor: pointer;
}

.menu-opts a {
  display: block;
  height: 6vh;
  font-size: 3vh;
  letter-spacing: 2px;
  font-family: Editorial New;
  text-decoration: none;
}

.menu-opts a:hover {
  text-decoration: underline;
}
/*page-2*/
#page-2 {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

#page-3 {
  min-height: 128vh;
  width: 100vw;
  padding: 7vh 3vw;
  background-image: url(assets/p4.avif);
  background-size: cover;
  background-position: right;
  color: black;
  font-weight: bold;
}

#p3-container {
  display: flex;
  justify-content: start;
  align-items: start;
  min-height: 100%;
  width: 100%;
  padding: 2vw;
}

#p3-left,
#p3-right {
  flex-basis: 50%;
}

#p3-left h1 {
  color: whitesmoke;
  text-align: left;
  margin-top: 20%;
  font-size: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#p3-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1vw;
}
#p3-right #festival-sec {
  height: 9vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 1vw;
  padding: 0 4vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#festival-sec>h1 a {
  text-decoration: none;
  color: #111;
  font-size: 1.9vw;
}
#festival-desc {
  min-height: 150vh;
  width: 100vw;
  padding: 3vw;
}
#festival-desc h1{
  height: 20vh;
  padding-top: 5vh;
  font-size: 4vw;
  text-align: center;
  font-family: OSAKE ;
  color: white;
  font-weight: 300;
  background-color: #a61a1a;
  border-radius:1vw;
}
.fest {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 1rem;
  padding: 5vw;
}
#fest-text {
  width: 50%;
}
#fest-text p {
  height: fit-content;
  padding: 2vw;
  font-size: 1.8vw;
  color: #333;
}
#fest-text p span {
  font-size: 2vw;
  color: #842828;
}

#fest-img  {
  height: 150vh;
  border: 1px solid black;
  width: 35vw;
  object-fit: cover;
  border-radius: 1vh;
  overflow-y:auto;
  overflow-x: hidden;
  margin-top: 2rem;
}
#fest-img  img {
  height: 40%;
  width: 100%;
  object-fit: cover;
}
.img-box {
 animation: moveup 10s linear  infinite;
}
@keyframes moveup {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


#culture-2 {
  height: 100vh;
  width: 100vw;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#culture-2-container {
  overflow: hidden;
  padding: 0.5vw;
  height: 80%;
  width: 72%;
  border-radius: 1vw;
  /* box-shadow: 4px 4px 4px 4px rgb(138, 115, 115); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  grid-template-areas:
    "aside sake sake zoo"
    "aside bath kabuki zoo"
    "aside bath anime  zoo";
}

.item {
  border: 2px solid rgb(225, 209, 209);
  border-radius: 1vw;
  color: white;
  font-size: 1.1vw;
  transition: all ease 2s ease-in-out;
  text-transform: uppercase;
  position: relative;
}
.item h1 {
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.item:nth-child(1) {
  grid-area: zoo;
  background: url(assets/panda10.webp);
  background-size: cover;
  background-position: center;
  padding-right: 2rem;
  height: 70vh;
  width: 20vw;
  transform: translateX(-22px);
}
.item:nth-child(1) h1 {
  margin-top: 8vh;
  margin-left: 1vw;
}
.item:nth-child(2) {
  background: url(assets/p6.avif);
  background-size: cover;
  background-position: center;
  grid-area: aside;
  padding: 3rem 1.5rem;
  height: 70vh;
  width: 20vw;
}

.item:nth-child(2) h1 {
  margin-top: 1vw;
}

.item:nth-child(3) {
  grid-area: sake;
  background: url(assets/sake4.avif);
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 4rem;
  height: 25vh;
  width: 28vw;
}

.item:nth-child(4) {
  grid-area: bath;
  background: url(assets/onsen10.jpeg);
  background-size: cover;
  background-position: center;
  height: 44vh;
  width: 16vw;
}

.item:nth-child(4) h1 {
  margin-top: 8vh;
  margin-left: 1vw;
}

.item:nth-child(5) {
  grid-area: kabuki;
  background: url(assets/kabuki2.avif);
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 12vw;
}

.item:nth-child(5) h1 {
  margin-top: 14vh;
  margin-left: 1.5vw;
  text-shadow: 2px 2px 2px black;
}

.item:nth-child(6) {
  grid-area: anime;
  background: url(assets/anime2.jpeg);
  background-size: cover;
  background-position: center;
  height: 18vh;
  width: 12vw;
  margin-bottom: 1vh;
}
.item:nth-child(6) h1 {
  margin-top: 7vh;
  margin-left: 1.5vw;
  text-shadow: 2px 2px 2px black;
}

/*Page-4 destination*/
#Page-4 {
  height: fit-content;
  width: 100vw;
  padding: 2vw;
  background-size: cover;
  background-position: center;
}
#rediscover {
  height: 90vh;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: none;
}
#rediscover h1 {
  font-size: 5vw;
  font-family: Gilroy-SemiBold;
}
#rediscover #crsr {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: red;
  mix-blend-mode: multiply;
  scale: 0;
}
/*part-2*/
#d-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1.5vw;
  min-height: fit-content;
}
#destinations {
  height: 120vh;
  width: 60vw;
}
.elem {
  height: fit-content;
  padding: 0.5rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transform: translateY(200%);
  opacity: 0;
}
.elem h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
}

.elem p,
.elem p > span {
  margin-top: 0.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.08vw;
  font-weight: 400;
}

.elem-h {
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  padding: 1rem;
}

.elem-h #img-hover {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
  scale: 0;
}

#img-hover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

#infinite-scroll {
  height: 10vh;
  padding: 1vw;
  color: wheat;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}
#infinite-scroll::-webkit-scrollbar {
  display: none;
}
.one {
  animation: scrollY 3s linear infinite;
}
@keyframes scrollY {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-100%);
  }
}
